body {
  margin: 0;
  font-family: 'Lora', serif;
font-family: 'PT Serif', serif;
}

.topnav {
  overflow: hidden;
  background-color: #4B5358;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #69747c;
  color: black;
}

.topnav a.active {
  background-color: #eeeeee;
  color: white;
}
div.gallery {
  margin: 5px;
  border: 5px solid rgb(255, 255, 255);
  float: center;
  width: 45%;
  @media only screen and (min-device-width: 480px)
  {width: 15%;}
  
  
}

/* div.gallery:hover {
  border: 5px solid #777;
} */

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 7px;
  text-align: center;
}

body {
         background-color: rgb(245, 237, 224);
      }
